Multiple Style Sheets

Assume that an external style sheet has the following style for the <h1> element:

h1 {
  color: navy;
}


Then, assume that an internal style sheet also has the following style for the <h1> element:

h1 {
  color: orange;   
}



Example
If the internal style is defined after the link to the external style sheet, the <h1> elements will be "orange":

<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<style>
h1 {
  color: orange;
}
</style>
</head>


Example
However, if the internal style is defined before the link to the external style sheet, the <h1> elements will be "navy": 

<head>
<style>
h1 {
  color: orange;
}
</style>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>